@import "./styles/";

.app {
    // FIXME: temp
    &__header {
        background-color: var(--clr-primary);
        height: 32px;
        line-height: 32px;
        color: var(--clr-foreground);
        text-align: center;
    }
}
